.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: Black;
    height: 60%;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    border-radius: 4px 4px 0 0;
    background: #ffff;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    font-family: 'Anton', sans-serif;
    margin: 0 5% 50% 5%;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin: 0px;
    background: #2979FF;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    color: #ffff;
  }
 
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }